<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Editar Tarea</h1>
    <form action="{{ url_for('editar_tarea', id=tarea.id) }}" method="post">
        
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ tarea.titulo }}" required><br>
        
        <label for="prioridad">Prioridad:</label>
        <select id="prioridad" name="prioridad">
            <option value="Alta" {% if tarea.prioridad == 'Alta' %}selected{% endif %}>Alta</option>
            <option value="Media" {% if tarea.prioridad == 'Media' %}selected{% endif %}>Media</option>
            <option value="Baja" {% if tarea.prioridad == 'Baja' %}selected{% endif %}>Baja</option>
        </select><br>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="Pendiente" {% if tarea.estado == 'Pendiente' %}selected{% endif %}>Pendiente</option>
            <option value="En progreso" {% if tarea.estado == 'En progreso' %}selected{% endif %}>En progreso</option>
            <option value="Completada" {% if tarea.estado == 'Completada' %}selected{% endif %}>Completada</option>
        </select><br>

        <label for="fecha_limite">Fecha Límite:</label>
        <input type="date" id="fecha_limite" name="fecha_limite" value="{{ tarea.fecha_limite }}"><br>

        <button type="submit">Actualizar Tarea</button>
    </form>
    <a href="{{ url_for('home') }}">Cancelar y volver a la lista</a>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>